.hero {
    background: $veryLightGray;

    @include mobile {
        padding: 0 0 8rem 0;
    }

    &--text {
        max-width: 40rem;

        @include mobile {
            text-align: center;
            margin-inline: auto;
        }
    }

    &--img {
        position: relative;
        height: 60rem;

        @include mobile {
            grid-row: 1;
        }

        @include tablet {
            height: 42rem;
        }

        @include mobile {
            height: 30rem;
        }

        &::after {
            content: '';
            position: absolute;
            left: 7%;

            width: 767px;
            height: 939px;

            background-image: url(/img/image-mockups.png);
            background-repeat: no-repeat;
            background-position: center -111px;
            background-size: 90%;

            pointer-events: none;

            @include tablet {
                background-size: 60%;
                background-position: center -66px;
                left: -26%;
            }

            @include mobile {
                left: 50%;
                transform: translateX(-50%);
                background-size: 45%;
                background-position: center -12.2rem;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 1271px;
            height: 100%;
            background-image: url(/img/bg-intro-desktop.svg);
            background-repeat: no-repeat;
            background-position: center -26rem;
            left: -15rem;

            pointer-events: none;

            @include tablet {
                left: -13rem;
                background-position: center -38rem;
            }

            @include mobile {
                background-image: url(/img/bg-intro-mobile.svg);
                width: 375px;
                height: 100%;
                background-position: center -9rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &-description {
        margin-bottom: 3.2rem;
    }
}
